//主色
$mainColor: #ffb21d;
$subColor: #131313;
$mainMixColor: linear-gradient(to right, #ffb21d 0%, #fb890e 100%);
$hightLightMix: linear-gradient(to right, #a1ea22 0%, #34da14 100%);

//字色
$mainFONT: #1a1a1a;
$subFONT: #ffffff;

//border
$btnHOVborder: #bababa;

//header
$btnHOV_bg: linear-gradient(to bottom, #434343 0%, #232323 100%);
$liHOV_bg: linear-gradient(to right, #333333 0%, #0e0e0e 75%);

//footer
$navHOV_bg: linear-gradient(to top, #333333 0%, #0e0e0e 75%);