//header
header .deco .ac_ic {
    background: url(../img/icon/user.png) no-repeat center;
    background-size: 100%;
}

header .deco .pw_ic {
    background: url(../img/icon/pw.png) no-repeat center;
    background-size: 100%;
}

header .fgPW {
    background: url(../img/icon/help.png) no-repeat center;
    background-size: 100%;
}

//mq

.mq .mqTitle .mqIC {
    background: url(../img/icon/mq_ic.png) no-repeat center;
    background-size: 100%;
}

//bg 
.bg {
    background: url(../img/BG.png) no-repeat top center;
    background-size: 100%;
}