//header
header .deco .ac_ic {
    background: url(../img/icon/user.png) no-repeat center;
    background-size: 100%;
}

header .deco .pw_ic {
    background: url(../img/icon/pw.png) no-repeat center;
    background-size: 100%;
}

header .fgPW {
    background: url(../img/icon/help.png) no-repeat center;
    background-size: 100%;
}

//mainWrap
.mainWrap .gameType .gameBlock .brandBtn .dg {
    background: url(../img/icon/dg_logo.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameType .gameBlock .brandBtn .sa {
    background: url(../img/icon/sa_logo.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameType .gameBlock .brandBtn .og {
    background: url(../img/icon/og_logo.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameType .gameBlock .brandBtn .ab {
    background: url(../img/icon/ab_logo.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameType .gameBlock .brandBtn .wm {
    background: url(../img/icon/wm_logo.png) no-repeat center;
    background-size: 102%;
}

//mq

.mq .mqTitle .mqIC {
    background: url(../img/icon/mq_ic.png) no-repeat center;
    background-size: 100%;
}

//bg 
.bg {
    background: url(../img/BG.png) no-repeat top center;
    background-size: 100%;
}